/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*==========Reset==========*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Space Grotesk', sans-serif;
}

/*==========Root==========*/
:root {

  --color-red: hsl(16, 98%, 50%);
  --color-pink: hsl(347, 100%, 71%);
  --color-green: hsl(157, 72%, 66%);
  --color-dark: hsl(0, 0%, 13%);
  --color-black: hsl(240, 5%, 7%);
  --color-white: hsl(0, 0%, 100%);
  --color-transparent: hsla(0, 0%, 100%, 0);

  --gradiente-1: linear-gradient(180deg, hsl(357, 78%, 63%) 0%, hsl(353, 92%, 70%) 100%);
  --gradiente-2: linear-gradient(90deg, hsl(355, 37%, 88%) 0%, hsl(25, 76%, 90%) 100%); 
  --gradiente-3: linear-gradient(90deg, hsl(268, 77%, 76%) 0%, hsl(281, 88%, 84%) 100%); 
  --gradiente-4: linear-gradient(90deg, hsl(157, 72%, 66%) 0%, hsl(154, 100%, 81%) 100%); 
  --gradiente-5: linear-gradient(90deg, hsl(16, 98%, 83%) 0%, hsl(49, 91%, 91%) 100%); 
  --gradiente-6: linear-gradient(90deg, hsl(46, 100%, 65%), hsl(7, 100%, 75%) 100%); 
  --gradiente-7: linear-gradient(90deg, hsl(34, 94%, 56%) 0%, hsl(44, 100%, 66%) 100%); 
  --gradiente-8: linear-gradient(90deg, hsl(348, 53%, 65%) 0%, #ffc7a3 100%); 

  --font-size: .9rem;
  --font-logo: 'Satisfy', cursive;
  --line-height: 1.6;

  --transition: all 400ms ease-in-out;

  --container-lg: 80%;
  --container-md: 90%;

  --shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
  --shadow-1: 0px 3px 6px hsla(0, 0%, 0%, 0.4);

}

/*==========Base==========*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
body {
  background: var(--gradiente-5);
  color: var(--color-black);
  line-height: var(--line-height);
  font-size: var(--font-size);
  height: 300rem;
}
::-webkit-scrollbar {
  width: .5rem;
}
::-webkit-scrollbar-track {
  background: var(--color-dark)
}
::-webkit-scrollbar-thumb {
  background: var(--gradiente-5);
}
.container {
  width: var(--container-lg);
  max-width: var(--container-max-wd);
  margin-inline: auto;
}
.section {
  margin-block-start: 7rem;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 2rem;
}
h4, h5, h6 {
  font-weight: 300;
}
a {
  color: var(--color-black);
}
img {
  width: 100%;
  display: block;
}


/*==========Média Query Tablet==========*/
@media (max-width: 992px) {
  .container{
      width: var(--container-md);
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
      font-size: 1.5rem;
  }
  h3 {
      font-size: 1.2rem;
  }
  h5 {
      font-size: .8rem;
  }

}

/*==========Média Query Mobile==========*/
@media (max-width: 768px) {
  h1 {
      font-size: 2rem;
  }

}


/*==========Header==========*/
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: var(--gradiente-5);
  transition: var(--transition);
  z-index: 999;
}
.navbar {
  position: relative;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo, .toggle__btn, .change__theme {
  display: flex;
  cursor: pointer;
}
.navbar__logo {
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.navbar__logo img {
  width: 3rem;
  transition: var(--transition);
}
.navbar__logo:hover img {
  transform: scale(1.1);
}
.navbar__logo span {
  font-family: var(--font-logo);
  font-size: 1.8rem;
  color: var(--color-white);
  text-transform: capitalize;
  text-shadow: var(--shadow-1);
  transition: var(--transition);
}
.navbar__logo:hover span {
  text-shadow: var(--shadow);
}
.toggle__btn {
  font-size: 2rem;
  display: none;
}
.change__theme {
  font-size: 1.5rem;
  color: var(--color-black);
}
.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__list {
  display: flex;
  gap: 3rem;
}
.navbar__link {
  font-size: 1.2rem;
  text-transform: capitalize;
  transition: var(--transition);
}
.navbar__link:hover {
  color: var(--color-red);
}
.navbar__image-1, .navbar__image-2 {
  display: none;
}

/*==========JavaScript==========*/
.scrolling {
  box-shadow: var(--shadow);
}

/*==========Média Query Tablet==========*/
@media (max-width: 992px) {

  /*==========Header==========*/
  .navbar__logo img {
    width: 2.2rem;
  } 
  .navbar__logo span {
    font-size: 1.5rem;
  }
  .navbar__menu {
    position: absolute;
    top: 4.5rem;
    right: -120%;
    width: 20rem;
    height: 30rem;
    background: var(--gradiente-5);
    box-shadow: var(--shadow);
    padding-block: 3rem;
    transition: var(--transition);
  }
  .navbar__list {
    flex-direction: column;
    padding: .5rem;
  }
  .navbar__image-1, .navbar__image-2 {
    position: absolute;
    display: flex;
    filter: contrast(1.4);
  }
  .navbar__image-1 {
    top: .2rem;
    left: .5rem;
    width: 5rem;
    transform: rotate(180deg);
  }
  .navbar__image-2 {
    bottom: .9rem;
    right: .2rem;
    width: 5rem;
    transform: rotate(40deg);
  }
  .toggle__btn {
    display: flex;
  }
  #closeBtn {
    display: none;
  }
  .change__theme {
    position: absolute;
    top: .7rem;
    right: 3rem;
  }
  .overlay {
    position: fixed;
    top: 4.2rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--color-transparent);
    z-index: -1;
  }

}

